* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0 auto;
  padding: 1rem 0.5rem;
  nav {
    display: flex;
    gap: 1rem;
  }
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
}

.reaction-buttons {
  display: flex;
  gap: 0.5rem;
  button {
    border: none;
    border-radius: 8px;
    opacity: 0.8;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.logout-btn {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  font-weight: lighter;
  &:hover {
    color: blue;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 100%;
  }

  .header-nav {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.5rem;
  }
}
